.myimages{
    width: 400px
}
.mytop {
    font-size: 25px !important;
    background-color: tomato !important;
    z-index: 100;
    margin-bottom: 5px;
    text-align: center;
}
footer{
    background-color:tomato; 
}